.App {
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 80vw;
    height: 90vh;    
}